Options +FollowSymLinks
RewriteEngine on
Rewriterule ^([A-Za-z0-9_-ñÑ]+)/([A-Za-z0-9_-ñÑ]+)\.html$ index.php?seccion=$1&id=$2
Rewriterule ^([A-Za-z0-9_-ñÑ]+)/([A-Za-z0-9_-ñÑ]+)\.html$ index.php?seccion=$1&id=$2
Rewriterule ^([A-Za-z0-9_-ñÑ]+)\.html$ index.php?seccion=$1
Rewriterule ^([A-Za-z0-9_-ñÑ]+)$ index.php?seccion=$1
Rewriterule ^([A-Za-z0-9_-ñÑ]+)/$ index.php?seccion=$1
